section.sub-header
      .container
        .row
          .sub-text.col-md-10.col-md-offset-1
            h1 Give Blood
            h2 Blood is a vital lifeline to saving and preserving hundreds of lives daily. Less than 2% of the population donates blood.

section.container
  .row
    givenav

  .row.page-content
    .col-md-10.col-md-offset-1
          h2.title THE DONATION PROCEDURE
          .introduction
            h2
              | Giving blood is a simple act of kindness. You can play a vital role in providing blood to save lives.
          h4 BEFORE DONATING
          .blurb
            p The day before you donate, drink plenty of liquids
            p Eat something at least 3 hours before you donate
            p Wear clothing with sleeves that can be rolled up above the elbow
            p Bring a form of identification

          h4 DURING THE DONATION
          .blurb
            p Before donation you will be asked a few questions to determine if you are eligible to donate blood and asked to show your identification.
            p Your answers to the interview questions will be private and confidential.
            p Your hemoglobin level, temperature, pulse and blood will be checked before donation.
            p An area on your arm will be cleaned and a sterile needle will be inserted.
            p The blood collection process will last about 10 minutes, until a pint of blood has been collected.
            p After donating, you will be asked to rest in the chair for a few minutes during which you can request a drink.

          h4 AFTER DONATING
          .blurb
            p Continue to drink water throughout the day.
            p Try not to over exert yourself for the rest of the day.