section.sub-header
      .container
        .row
          .sub-text.col-md-10.col-md-offset-1
            h1 Give Blood
            h2 Blood is a vital lifeline to saving and preserving hundreds of lives daily. Less than 2% of the population donates blood.

section.container
  .row
    givenav

  .row.page-content
    .col-md-10.col-md-offset-1
          h2.title DONATION TIPS
          .introduction
            h2
              | For a safe and successful blood donation, follow these preparations, precautions and recommended tips.
          h4 BEFORE YOUR DONATION
          .blurb
            p Get a good night’s rest. 
            p Drink plenty of water or non-alcoholic beverages before the donation. Drinking water or fruit juices helps keep your blood pressure up.
            p Eat a healthy meal 3 hours before your donation. Eating will keep your blood sugar levels stable and ward off possible dizziness after donation.
            p Avoid eating fatty foods before your donation. An increase of fat in your blood stream might make testing of your blood difficult.
            p Have your identification card with you at the blood donation centre.

          h4 DURING YOUR DONATION
          .blurb
            p Wear clothing with sleeves that can be raised above the elbow.
            p Relax, listen to music, read or talk to other donors. Nervousness can cause your blood pressure to drop and can lead to dizziness.
            p Have a juice or snack after the donation. Rest for a few minutes to let your body adjust before continuing your day.

          h4 AFTER YOUR DONATION
          .blurb
            p Drink plenty of liquids and avoid alcohol over the next 24 hours.
            p Eat a high protein meal after your donation.
            p Avoid heavy lifting or vigorous exercise for the rest of the day.
            p If you experience dizziness after donation, stop what you’re doing and rest or lie down until you feel better.