section.sub-header
			.container
				.row
					.sub-text.col-md-10.col-md-offset-1
						h1 Give Blood
						h2 Blood is a vital lifeline to saving and preserving hundreds of lives daily. Less than 2% of the population donates blood.

section.container
	.row
		givenav

	.row.page-content
		.col-md-10.col-md-offset-1
					h2.title WHY DONATE
					.introduction
						h2
							| One donation of blood can help to save up to 3 different people.
					h4 HELPING PEOPLE
					.blurb
						p The blood collected from donations is used for many purposes including:
						ul
							li Accident Victims
							li Emergency Operations
							li Organ Transplants
							li Leukemia and Cancer Patients
							li Cardiac (Heart) Surgeries
							li Premature Babies
						p Without blood transfusions these patients will not survive. These patients may be a family member, friend or work colleague who may need blood today or one day in the future. Because blood has a limited shelf life, constant donations are needed year round by healthy members of the community.

					h4 HEALTH BENEFITS
					.blurb
						p Donating blood also has some health benefits. Before each donation you receive a mini physical to check your:
						ul
							li Pulse
							li Blood Pressure
							li Body Temperature
							li Haemoglobin