/* ==========================================================================
  Project: Red Donor Community Site
  Author: Samora Reid
  Author URL: www.samorareid.com
  Version: 0.1
  URL: www.reddonor.com
========================================================================== */

/* ----------------------------------------------------------------- 
	Variables
------------------------------------------------------------------- */

/* ----------------------------------------------------------------- 
	Mixins
------------------------------------------------------------------- */

.normalizedfont {
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
}

.menusbackground {
  background: #222222 url('../assets/images/outlets.png');
  background-color: #141414;
}

.smoothing {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.footertextshadow {
  text-shadow: 0 2px 0 #000;
}

.hovereffect {
  border-bottom: 2px solid #d94d48;
  padding-bottom: 4px;
  -webkit-transition: All 0.2s ease;
  transition: All 0.2s ease;
}

.inlinetext {
  padding: 20px 0 14px 0;
  text-align: center;
}

.smallmenutext {
  padding: 20px 0 0px 0;
  text-align: center;
}

/* ----------------------------------------------------------------- 
	Body Structure
------------------------------------------------------------------- */

body {
  color: #525252;
  height: 100%;
  background: #ffffff url('../assets/images/lil_fiber.png');
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 140px;
}

/* Set the fixed height of the footer here */

#footer {
  height: auto;
  border-top: 2px solid #000;
  padding-bottom: 20px;
  background: #222222 url('../assets/images/outlets.png');
  background-color: #141414;
}

/* ----------------------------------------------------------------- 
	Icon Fonts
------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'EntypoRegular';
  src: url('../assets/fonts/entypo-webfont.eot');
  src: url('../assets/fonts/entypo-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/entypo-webfont.woff') format('woff'), url('../assets/fonts/entypo-webfont.ttf') format('truetype'), url('../assets/fonts/entypo-webfont.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
}

@font-face {
  font-family: 'Sosa';
  src: url('../assets/fonts/sosa.eot');
  src: url('../assets/fonts/sosa.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/sosa.woff') format('woff'), url('../assets/fonts/sosa.ttf') format('truetype'), url('../assets/fonts/sosa.svg#Sosa') format('svg');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
}

@font-face {
  font-family: 'Socialico';
  src: url('../assets/fonts/socialico-webfont.eot');
  src: url('../assets/fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/socialico-webfont.woff') format('woff'), url('../assets/fonts/socialico-webfont.ttf') format('truetype'), url('../assets/fonts/socialico-webfont.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
}

/* ----------------------------------------------------------------- 
	Links
------------------------------------------------------------------- */

a,
a:hover {
  color: #222222;
  -webkit-transition: All 0.4s ease;
  transition: All 0.4s ease;
  text-decoration: none;
}

a {
  color: #d94d48;
}

a:active,
a:focus {
  outline: none;
}

/* ----------------------------------------------------------------- 
	Header
------------------------------------------------------------------- */

.navbar-default {
  height: 70px;
  border-top: solid 4px #d94d48;
  border-bottom: none;
  background: #222222 url('../assets/images/outlets.png');
  background-color: #141414;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.1em;
  margin: 8px 0 0;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
}

.navbar-default .navbar-nav li > a {
  color: #cecece;
}

.navbar-default .navbar-nav li > a:hover {
  color: #ffffff;
}

.navbar-collapse {
  background: #222222 url('../assets/images/outlets.png');
  background-color: #141414;
  border: none;
}

/* ----------------------------------------------------------------- 
	Footer
------------------------------------------------------------------- */

.footer {
  margin-top: 20px;
  color: #aaaaaa;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.0em;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  margin: 0;
  padding: 8px 4px;
}

.footer ul li > a {
  color: #cecece;
}

.footer ul li > a:hover {
  color: #ffffff;
}

.footer .footer-info p {
  font-size: 1.1em;
  color: #aaaaaa;
  padding: 20px 0;
  text-shadow: 0 2px 0 #000;
}

.footer-bottom {
  padding: 14px 0 8px 0;
  border-top: 2px solid #000;
  font-family: 'Varela Round', sans-serif;
  background: #000000;
  text-align: center;
}

.footer-bottom span {
  color: #aaaaaa;
}

.footer-bottom span:hover {
  color: #d94d48;
}

.footer-bottom ul {
  list-style-type: none;
}

.footer-bottom ul li {
  display: inline-block;
  margin-right: 20px;
}

.footer-bottom ul li a {
  color: #aaaaaa;
}

#likebox-frame {
  border: none !important;
  overflow: hidden !important;
  position: relative;
  z-index: 10;
  left: -1px;
  top: -1px;
}

/* ----------------------------------------------------------------- 
	Buttons
------------------------------------------------------------------- */

.navbar-collapse li > a.menubtn {
  padding: 6px 7px;
  margin: 8px 0 12px 0;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  background: #d94d48;
  border-radius: 4px;
  text-transform: capitalize;
  text-shadow: 1px 1px #222222;
}

.navbar-collapse li > a.menubtn:hover {
  color: #ffffff;
  border: 0px solid #ececec;
  background: #d94d48;
}

a.regbtn {
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  padding: 6px;
  margin: 10px auto;
  background: #333333;
  border-radius: 4px;
  text-transform: uppercase;
  border: 2px solid #363636;
  text-shadow: none;
}

a.regbtn:hover,
a.herobtn:hover {
  color: #ffffff;
  border: 2px solid #ececec;
  background: #333333;
}

a.herobtn {
  display: block;
  width: 60%;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  padding: 6px;
  margin: 14px auto;
  background: #d94d48;
  border-radius: 4px;
  text-transform: capitalize;
  border: 2px solid #ececec;
  text-shadow: none;
}

/* ----------------------------------------------------------------- 
	Pages
------------------------------------------------------------------- */

.introduction {
  margin-top: 2em;
}

.introduction h2 {
  text-align: center;
  font-weight: 400;
  line-height: 1.45em;
  margin-bottom: 1.4em;
  font-size: 1.5em;
}

.introduction h4 {
  padding: 4px 0 0 0;
}

.introduction .col-md-4 {
  text-align: center;
}

.introduction .col-md-4 img {
  margin: 0 auto;
}

.introduction .col-md-4 p {
  padding: 0.8em 0;
}

.sub-header {
  padding: 3em;
  margin-top: 40px;
  background-image: url(../assets/images/shattered.jpg);
}

.sub-header .sub-text {
  text-align: center;
}

.sub-header .sub-text h2 {
  font-size: 1.5em;
  padding: 0 0 1em;
  line-height: 1.4em;
  color: #ffffff;
}

.sub-header .sub-text h1 {
  font-family: 'Arvo', sans-serif;
  font-size: 2.4em;
  padding: 0;
  color: #ffffff;
  text-shadow: 2px 2px #525252;
  letter-spacing: 0.04em;
}

.sub-header .sub-text h4 {
  color: #ffffff;
  line-height: 28px;
  padding: 1em 0;
}

.submenu {
  padding: 20px 0 14px 0;
  text-align: center;
}

.submenu ul {
  list-style-type: none;
}

.submenu ul .fa {
  margin-right: 12px;
  color: #d94d48;
}

.submenu ul li {
  display: inline-block;
  margin-right: 20px;
}

.submenu ul li a {
  color: #525252;
  font-size: 1.3em;
  cursor: pointer;
}

.submenu ul li a:hover {
  border-bottom: 2px solid #d94d48;
  padding-bottom: 4px;
  -webkit-transition: All 0.2s ease;
  transition: All 0.2s ease;
}

.submenu-small {
  padding: 20px 0 0px 0;
  text-align: center;
}

.submenu-small ul {
  list-style-type: none;
}

.submenu-small ul li {
  /*display: inline-block;*/
  margin-right: 20px;
  margin-bottom: 14px;
}

.submenu-small ul li a {
  color: #525252;
  font-size: 0.9em;
  font-weight: bold;
}

.submenu-small ul li a:hover {
  border-bottom: 2px solid #d94d48;
  padding-bottom: 4px;
  -webkit-transition: All 0.2s ease;
  transition: All 0.2s ease;
}

.page-content {
  margin: 0px 0 40px 0;
}

.page-content h2.title {
  background: #282828;
  color: #d94d48;
  border-bottom: 1px dotted #a9a9a9;
  padding: 10px 0;
  font-size: 1.5em;
  font-family: 'Arvo', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.page-content h2 {
  color: #d94d48;
  padding: 10px 0;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.page-content h3 {
  margin-top: 0;
  font-size: 1.4em;
  font-weight: 600;
}

.page-content h4 {
  color: #d94d48;
  padding: 4px 0;
  font-size: 1.2em;
  font-family: 'Arvo', sans-serif;
  font-weight: 600;
}

.page-content h5 {
  font-weight: 700;
  color: #525252;
  text-transform: capitalize;
}

.page-content .blurb {
  padding: 8px 0 12px 10px;
}

.page-content .blurb h4 {
  font-weight: 700;
  color: #525252;
  text-transform: capitalize;
}

.page-content img {
  margin: 0px 20px 20px 0px;
}

/* ----------------------------------------------------------------- 
	Page - How It Works
------------------------------------------------------------------- */

.works {
  background: #ececec;
  border-top: 2px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: center;
  margin-bottom: 2em;
}

.works img {
  margin: 0;
}

.works h3 {
  font-size: 1.4em;
  line-height: 54px;
  text-transform: none;
  color: #525252;
}

.works h3.title {
  color: #d94d48;
  text-transform: uppercase;
  background: #222222;
  margin: 0;
}

.works p {
  font-size: 1.2em;
  text-align: center;
}

.st-highlight {
  border-bottom: 1px solid #ddd;
  padding: 10px 4px;
}

.st-highlight:hover {
  background: #f2f2f2;
}

/* ----------------------------------------------------------------- 
	Misc
------------------------------------------------------------------- */

.rred {
  color: #d94d48;
}

/* ----------------------------------------------------------------- 
	Hero Header
------------------------------------------------------------------- */

.heroformat {
  text-align: center;
  float: right;
  margin-top: 4em;
}

.hero-section {
  text-align: center;
  float: right;
  margin-top: 4em;
}

@media only screen and (min-width: 992px) {
  .hero-header {
    background-image: url('../assets/images/header-hero_max1280.jpg');
    height: 400px;
    margin-top: 68px;
  }

  .hero-header .hero-section {
    text-align: center;
    float: right;
    margin-top: 4em;
  }

  .hero-header .hero-section h1 {
    color: #333;
    text-shadow: 1px 1px #eee;
  }

  .hero-header .hero-section p {
    font-size: 1.2em;
    text-shadow: 1px 1px #eee;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .hero-header {
    background-image: url('../assets/images/header-hero_max1000.jpg');
    height: 350px;
    margin-top: 68px;
  }

  .hero-header .hero-section {
    text-align: center;
    float: right;
    margin-top: 4em;
  }

  .hero-header .hero-section h1 {
    color: #fff;
    text-shadow: 1px 1px #333;
  }

  .hero-header .hero-section p {
    color: #fff;
    font-size: 1.2em;
    text-shadow: 1px 1px #333;
  }
}

@media only screen and (max-width: 768px) {
  .hero-header {
    background-image: url('../assets/images/header-hero_max786.jpg');
    height: 300px;
    margin-top: 68px;
  }

  .hero-header .hero-section {
    text-align: center;
    float: right;
    margin-top: 4em;
  }

  .hero-header .hero-section h1 {
    color: #fff;
    text-shadow: 1px 1px #333;
  }

  .hero-header .hero-section p {
    color: #fff;
    font-size: 1.2em;
    text-shadow: 1px 1px #333;
  }
}