/* ==========================================================================
  Project: Red Donor Community Site
  Author: Samora Reid
  Author URL: www.samorareid.com
  Version: 0.1
  URL: www.reddonor.com
========================================================================== */

/* ----------------------------------------------------------------- 
	Variables
------------------------------------------------------------------- */

@body-color: #525252;
@footer-color: #222;
@menufont-color: #cecece;
@footerfont-color: #aaa;
@red: #D94D48;
@white: #fff;
@menu-color: #141414;
@black: darken(@menu-color, 20%);
@heading-font: 'Open Sans', sans-serif;
@submenu-font: 'Arvo', sans-serif;
@navbar-font: 'Varela Round', sans-serif;
@h2-fontsize: 1.5em;

/* ----------------------------------------------------------------- 
	Mixins
------------------------------------------------------------------- */

.normalizedfont {
	font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
}
.menusbackground {
	background: @footer-color url('../assets/images/outlets.png');
	background-color: #141414;
}
.smoothing {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
.footertextshadow {
	text-shadow: 0 2px 0 #000;
}

.hovereffect {
	border-bottom: 2px solid @red;
	padding-bottom: 4px;
	-webkit-transition: All 0.2s ease;
	-moz-transition: All 0.2s ease;
	-o-transition: All 0.2s ease;
	-ms-transition: All 0.2s ease;
	transition: All 0.2s ease;
}

.inlinetext {
	padding: 20px 0 14px 0;
	text-align: center;
}

.smallmenutext {
	padding: 20px 0 0px 0;
	text-align: center;
}
/* ----------------------------------------------------------------- 
	Body Structure
------------------------------------------------------------------- */

body { 
	color: @body-color;
	height: 100%;
	background: #fff url('../assets/images/lil_fiber.png');
}

html {
  height: 100%;
  .smoothing;
	.normalizedfont;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 140px;
}

/* Set the fixed height of the footer here */
#footer {
  height: auto;
	border-top: 2px solid #000;
	padding-bottom: 20px;
	.menusbackground
}

/* ----------------------------------------------------------------- 
	Icon Fonts
------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	font-family: @heading-font;
}

@font-face {
    font-family: 'EntypoRegular';
    src: url('../assets/fonts/entypo-webfont.eot');
    src: url('../assets/fonts/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/entypo-webfont.woff') format('woff'),
         url('../assets/fonts/entypo-webfont.ttf') format('truetype'),
         url('../assets/fonts/entypo-webfont.svg#EntypoRegular') format('svg');
    .normalizedfont
 }

 @font-face {
    font-family: 'Sosa';
    src: url('../assets/fonts/sosa.eot');
    src: url('../assets/fonts/sosa.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/sosa.woff') format('woff'),
         url('../assets/fonts/sosa.ttf') format('truetype'),
         url('../assets/fonts/sosa.svg#Sosa') format('svg');
    .normalizedfont
}

@font-face {
    font-family: 'Socialico';
    src: url('../assets/fonts/socialico-webfont.eot');
    src: url('../assets/fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/socialico-webfont.woff') format('woff'),
         url('../assets/fonts/socialico-webfont.ttf') format('truetype'),
         url('../assets/fonts/socialico-webfont.svg#EntypoRegular') format('svg');
    .normalizedfont
 }

/* ----------------------------------------------------------------- 
	Links
------------------------------------------------------------------- */

a,
a:hover { 
	color: @footer-color;
	-webkit-transition: All 0.4s ease;
	-moz-transition: All 0.4s ease;
	-o-transition: All 0.4s ease;
	-ms-transition: All 0.4s ease;
	transition: All 0.4s ease;
	text-decoration: none;
}
a {
	color: @red;
}
a:active, 
a:focus {
	outline: none;
}

 /* ----------------------------------------------------------------- 
	Header
------------------------------------------------------------------- */

.navbar-default {
	height: 70px;
	border-top: solid 4px @red;
	border-bottom: none;
	.menusbackground;

	.navbar-brand {
		color: #fff;
	}
	.navbar-nav {
		font-family: @navbar-font;
		font-size: 1.1em;
		margin: 8px 0 0;
		.smoothing;
		.normalizedfont;

		li > a {
			color: @menufont-color;

			&:hover {  
				color: @white;  
      } 
		}
	}
}
.navbar-collapse {
	.menusbackground;
	border: none;
}

 /* ----------------------------------------------------------------- 
	Footer
------------------------------------------------------------------- */

.footer {
	margin-top: 20px;
	color: @footerfont-color;
	font-family: @navbar-font;
	font-size: 1.0em;
	.smoothing;
	.normalizedfont;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
				margin: 0;
				padding: 8px 4px;

			> a {
					color: @menufont-color;

					&:hover {  
						color: @white;  
      		} 
			}
		}
	}

	.footer-info p {
		font-size: 1.1em;
		color: @footerfont-color;
		padding: 20px 0;
		.footertextshadow; 
	}
}

.footer-bottom {
	padding: 14px 0 8px 0;
	border-top: 2px solid #000;
	font-family: @navbar-font;
	background: @black;
	text-align: center;

	span {
		color: @footerfont-color;

		&:hover {  
				color: @red;  
    }
	}
	
	ul {
		list-style-type: none;

		li {
			display: inline-block;
			margin-right: 20px;

			a {
				color: @footerfont-color;
			}
		}
	}
}

#likebox-frame {
	border: none !important;
	overflow: hidden !important;
	position: relative;
	left: -1px;
	z-index: 10;
	left: -1px;
	top: -1px;
}

 /* ----------------------------------------------------------------- 
	Buttons
------------------------------------------------------------------- */

.menubutton (@padding, @margin, @fontcolor, @bgcolor, @corner, @textstyle, @shadow) {
	padding: @padding;
	margin: @margin;
	color: @fontcolor;
	text-decoration: none;
	text-align: center;
	background: @bgcolor;
	border-radius: @corner;
	text-transform: @textstyle;
	text-shadow: @shadow;
}


.regbutton (@bgdcolor, @btnwidth, @fontcolor, @font-size, @corner, @padding, @margin, @textstyle, @bordersize, @bordercolor) {
	display: block;
	width: @btnwidth;
	color: @fontcolor;
  font-size: @font-size;
	text-decoration: none;
	text-align: center;
  padding: @padding;
  margin: @margin;
	background: @bgdcolor;
	border-radius: @corner;
	text-transform: @textstyle;
	border: @bordersize solid @bordercolor;
	text-shadow: none;
}

.regbuttonHover(@bgdcolor, @bordersize, @bordercolor, @fontcolor) {
	color: @fontcolor;
	border: @bordersize solid @bordercolor;
	background: @bgdcolor;
}

.navbar-collapse li> a.menubtn {
	.menubutton(6px 7px, 8px 0 12px 0, #fff, #d94d48, 4px, capitalize, 1px 1px #222);
}
.navbar-collapse li> a.menubtn:hover {
	.regbuttonHover(#d94d48, 0px, #ececec, #fff);
}

a.regbtn {
	.regbutton(#333, 100%, #fff, 18px, 4px, 6px, 10px auto, uppercase, 2px, #363636);
}
a.regbtn:hover, a.herobtn:hover {
	.regbuttonHover(#333, 2px, #ececec, #fff);
}
a.herobtn {
	.regbutton(@red, 60%, #fff, 18px, 4px, 6px, 14px auto, capitalize, 2px, #ececec);
}


 /* ----------------------------------------------------------------- 
	Pages
------------------------------------------------------------------- */

.introduction {
	margin-top: 2em;
	
	h2 {
		text-align: center;
		font-weight: 400;
		line-height: 1.45em;
		margin-bottom: 1.4em;
		font-size: @h2-fontsize;
	}

	h4 {
		padding: 4px 0 0 0;
	}

	.col-md-4 {
		text-align: center;

		img {
			margin: 0 auto;
		}
		p {
			padding: 0.8em 0;
		}
	}
}

.sub-header {
	padding: 3em;
	margin-top: 40px;
	background-image: url(../assets/images/shattered.jpg);

	.sub-text {
		text-align: center;

		h2 {
			font-size: @h2-fontsize;
			padding: 0 0 1em;
			line-height: 1.4em;
			color: @white;
		}
		h1 {
			font-family: 'Arvo', sans-serif;
			font-size: 2.4em;
			padding: 0;
			color: @white;
			text-shadow: 2px 2px @body-color;
			letter-spacing: 0.04em;
		}
		h4 {
			color: @white;
			line-height: 28px;
			padding: 1em 0;
		}
	}
}

.submenu {
	.inlinetext;

	ul {
		list-style-type: none;

		.fa {
			margin-right: 12px;
			color: @red;
		}

		li {
			display: inline-block;
			margin-right: 20px;

			a {
				color: @body-color;
				font-size: 1.3em;
				cursor: pointer;

				&:hover {  
					.hovereffect;
      	} 
			}
		}
	}
}

.submenu-small {
	.smallmenutext;

	ul {
		list-style-type: none;

		li {
			/*display: inline-block;*/
			margin-right: 20px;
			margin-bottom: 14px;
			a {
				color: @body-color;
				font-size: 0.9em;
				font-weight: bold;

				&:hover {  
					.hovereffect;
      	} 
			}
		}
	}
}

.page-content {
	margin: 0px 0 40px 0;

	h2.title {
		background: #282828; 
		color: @red;
		border-bottom: 1px dotted #a9a9a9;
		padding: 10px 0;
		font-size: 1.5em;
		font-family: @submenu-font;
		font-weight: 400;
		text-transform: uppercase;
		text-align: center;
	}

	h2 {
		color: @red;
		padding: 10px 0;
		font-size: 1.5em;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}

	h3 {
		margin-top: 0;
		font-size: 1.4em;
		font-weight: 600;
	}

	h4 {
		color: @red;
		padding: 4px 0;
		font-size: 1.2em;
		font-family: @submenu-font;
		font-weight: 600;
	}

	h5 {
		font-weight: 700;
		color: @body-color;
		text-transform: capitalize;
	}

	.blurb {
		padding: 8px 0 12px 10px;

		h4 {
			font-weight: 700;
			color: @body-color;
			text-transform: capitalize;
		}
	}

	img {
		margin: 0px 20px 20px 0px;
	}
}

 /* ----------------------------------------------------------------- 
	Page - How It Works
------------------------------------------------------------------- */

.works {
	background: #ececec;
	border-top: 2px solid #ddd;
	border-bottom: 1px solid #ddd;
	text-align: center;
	margin-bottom: 2em;

	img {
		margin: 0;
	}


	h3 {
			font-size: 1.4em;
			line-height: 54px;
			text-transform: none;
			color: #525252;
			
			&.title {
				color: @red;
				text-transform: uppercase;
				background: @footer-color;
				margin: 0;
			}
	}
	p {
		font-size: 1.2em;
		text-align: center;
	}	

}
.st-highlight {
	border-bottom: 1px solid #ddd;
	padding: 10px 4px;

	&:hover {
		background: #f2f2f2;
	}
}

 /* ----------------------------------------------------------------- 
	Misc
------------------------------------------------------------------- */

.rred {
	color: @red;
}

 /* ----------------------------------------------------------------- 
	Hero Header
------------------------------------------------------------------- */

.heroformat {
	text-align: center;
	float: right;
	margin-top: 4em;
}

.hero-section {
	text-align: center;
	float: right;
	margin-top: 4em;
}

@media only screen and (min-width: 992px) {
	.hero-header {
		background-image: url('../assets/images/header-hero_max1280.jpg');
		height: 400px;
		margin-top: 68px;

		.hero-section {
			.heroformat;

			h1 {
				color: #333;
				text-shadow: 1px 1px #eee;
			}
			p {
				font-size: 1.2em;
				text-shadow: 1px 1px #eee;
			}
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.hero-header {
		background-image: url('../assets/images/header-hero_max1000.jpg');
		height: 350px;
		margin-top: 68px;

		.hero-section {
			.heroformat;

			h1 {
				color: #fff;
				text-shadow: 1px 1px #333;
			}
			p {
				color: #fff;
				font-size: 1.2em;
				text-shadow: 1px 1px #333;
			}
		}
	}
}
@media only screen and (max-width: 768px) {
	.hero-header {
		background-image: url('../assets/images/header-hero_max786.jpg');
		height: 300px;
		margin-top: 68px;

		.hero-section {
			.heroformat;

			h1 {
				color: #fff;
				text-shadow: 1px 1px #333;
			}
			p {
				color: #fff;
				font-size: 1.2em;
				text-shadow: 1px 1px #333;
			}
		}
	}

}
	