.col-md-10.col-md-offset-1
	.submenu.hidden-xs
		ul
			li: a(href="/aboutblood/bloodtypes") Blood Types
			i.fa.fa-heart
			li: a(href="/aboutblood/safety") Blood Safety
			i.fa.fa-heart
			li: a(href='/aboutblood/uses') Uses of Blood
			i.fa.fa-heart
			li: a(href='/aboutblood/faqs') FAQs
	.submenu-small.visible-xs
		ul
			li: a(href='/aboutblood/bloodtypes') Blood Types
			li: a(href='/aboutblood/safety') Blood Safety
			li: a(href='/aboutblood/uses') Uses of Blood
			li: a(href='/aboutblood/faqs') FAQs
