.col-md-10.col-md-offset-1
	.submenu.hidden-xs
		ul
			li: a(href="/giveblood/whydonate") Why Donate
			i.fa.fa-heart
			li: a(href="/giveblood/eligibility") Eligibility
			i.fa.fa-heart
			li: a(href='/giveblood/procedure') Donation Procedure
			i.fa.fa-heart
			li: a(href='/giveblood/tips') Tips
	.submenu-small.visible-xs
		ul
			li: a(href='/giveblood/whydonate') Why Donate
			li: a(href='/giveblood/eligibility') Eligibility
			li: a(href='/giveblood/procedure') The Procedure
			li: a(href='/giveblood/tips') Tips
