
<section class="sub-header">
  <div class="container">
    <div class="row">
      <div class="sub-text col-md-10 col-md-offset-1">
        <h1>Contact Us</h1>
        <h2>We're open to any questions, concerns, comments or suggestions you may have. Feel free to reach out to us via email or social media.				</h2>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row page-content">
    <div class="col-md-10 col-md-offset-1">
      <div class="blurb">
        <h4>To Report Problems with the Website</h4>
        <p><a href="mailto:support@reddonor.com">support@reddonor.com</a></p>
        <h4>For Questions Or Suggestions about the Organisation</h4>
        <p><a href="mailto:sreid@reddonor.com">sreid@reddonor.com</a></p>
        <h4>Social</h4>
        <p>Like us on <a href="https://www.facebook.com/RedDonor" target="_blank">Facebook</a></p>
        <p>Follow us on <a href="https://twitter.com/RedDonor" target="_blank">Twitter</a></p>
        <p>Follow us on <a href="https://plus.google.com/u/0/b/110993637022991434407/110993637022991434407/posts" target="_blank">Google+              </a></p>
        <p>Subscribe on <a href="http://www.youtube.com/RedDonor" target="_blank">YouTube</a></p>
        <p>Join us on <a href="http://www.linkedin.com/company/red-donor" target="_blank">Linkedin</a></p>
      </div>
    </div>
  </div>
</section>