
<div class="col-md-10 col-md-offset-1">
  <div class="submenu hidden-xs">
    <ul>
      <li><a href="/giveblood/whydonate">Why Donate</a></li><i class="fa fa-heart"></i>
      <li><a href="/giveblood/eligibility">Eligibility</a></li><i class="fa fa-heart"></i>
      <li><a href="/giveblood/procedure">Donation Procedure</a></li><i class="fa fa-heart"></i>
      <li><a href="/giveblood/tips">Tips</a></li>
    </ul>
  </div>
  <div class="submenu-small visible-xs">
    <ul>
      <li><a href="/giveblood/whydonate">Why Donate</a></li>
      <li><a href="/giveblood/eligibility">Eligibility</a></li>
      <li><a href="/giveblood/procedure">The Procedure</a></li>
      <li><a href="/giveblood/tips">Tips</a></li>
    </ul>
  </div>
</div>