
<section class="sub-header">
  <div class="container">
    <div class="row">
      <div class="sub-text col-md-10 col-md-offset-1">
        <h1>How To Save A Life?</h1>
        <h2>Red Donor takes the stress out of finding willing blood donors for your loved ones and connects blood donors to those who need their help.</h2>
        <!--h2 Through education and innovation we want to ensure a safe and stable supply of blood for your community.-->
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="video-container">
              <iframe width="560" height="315" src="//www.youtube.com/embed/9oCR1Yo5em8?autoplay=0&amp;controls=0&amp;showinfo=0&amp;rel=0&amp;wmode=transparent" frameborder="0"></iframe>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h4>Red Donor allows persons to make public requests for blood for their family, friends and loved ones. People who have signed up for an account can pledge to donate blood to the requested blood donation centre. 				</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row page-content">
    <div class="col-md-12">
      <h2>Quick Use Instructions </h2>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <div class="works">
            <h3 class="title">For Blood Requesters</h3>
            <div class="st-highlight"><img src="/assets/images/works/join2.png" alt="Join Red Donor"/>
              <h3>Join Red Donor</h3><br/>
              <div class="st-text">
                <p>Simple Sign Up </p><i class="fa fa-chevron-down fa-5x rred"></i>
              </div>
            </div>
            <div class="st-highlight"><img src="/assets/images/works/create.png" alt="Create a blood drive"/>
              <h3>Create a Blood Drive</h3><br/>
              <div class="st-text">
                <p>Make a request for blood</p>
                <p>Set a donation period </p><i class="fa fa-chevron-down fa-5x rred"></i>
              </div>
            </div>
            <div class="st-highlight"><img src="/assets/images/works/receive.png" alt="Receive pledges to donate"/>
              <h3>Receive Pledges to Donate</h3><br/>
              <div class="st-text">
                <p>Willing Blood Donors Pledge to Donate</p><i class="fa fa-chevron-down fa-5x rred"></i>
              </div>
            </div>
            <div class="st-highlight"><img src="/assets/images/works/pledged.png" alt="Receive confirmation"/>
              <h3>Receive Confirmation</h3><br/>
              <div class="st-text">
                <p>Blood Donors confirm donation at local collection centre</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="works">
            <h3 class="title">For Blood Donors</h3>
            <div class="st-highlight"><img src="/assets/images/works/join2.png" alt="Join Red Donor"/>
              <h3>Join Red Donor</h3><br/>
              <div class="st-text">
                <p>Simple Sign Up </p><i class="fa fa-chevron-down fa-5x rred"></i>
              </div>
            </div>
            <div class="st-highlight"><img src="/assets/images/works/find.png" alt="Find Blood Drives"/>
              <h3>Find Blood Drives</h3><br/>
              <div class="st-text">
                <p>Locate local persons uregently in need of blood </p><i class="fa fa-chevron-down fa-5x rred"></i>
              </div>
            </div>
            <div class="st-highlight"><img src="/assets/images/works/pledge.png" alt="Pledge to donate"/>
              <h3>Pledge to Donate</h3><br/>
              <div class="st-text">
                <p>Make a pledge to donate blood at your local donation centre</p><i class="fa fa-chevron-down fa-5x rred"></i>
              </div>
            </div>
            <div class="st-highlight"><img src="/assets/images/works/confirm.png" alt="Confirm Donation"/>
              <h3>Confirm Donation</h3><br/>
              <div class="st-text">
                <p>Notify the Blood Requester of Your Donation</p><i class="fa fa-chevron-down fa-5x rred"></i>
              </div>
            </div>
            <div class="st-highlight"><img src="/assets/images/works/happy.png" alt="Feel Good"/>
              <h3>Feel Good for Saving A Life</h3><br/>
              <div class="st-text"></div>
            </div>
          </div>
        </div><!--.col-md-4
        <div class="works">
          <h3 class="title">For Organisations</h3>
          <div class="st-highlight">
            <h3>Coming Soon</h3><br/>
            <div class="st-text"></div>
          </div>
        </div>-->
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2"><a href="http://my.reddonor.com/signup" class="regbtn">Sign Up For An Account</a></div>
      </div>
    </div>
  </div>
</section>