
<section class="sub-header">
  <div class="container">
    <div class="row">
      <div class="sub-text col-md-10 col-md-offset-1">
        <h1>Give Blood</h1>
        <h2>Blood is a vital lifeline to saving and preserving hundreds of lives daily. Less than 2% of the population donates blood.</h2>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row">
    <givenav></givenav>
  </div>
  <div class="row page-content">
    <div class="col-md-10 col-md-offset-1">
      <h2 class="title">THE DONATION PROCEDURE</h2>
      <div class="introduction">
        <h2>Giving blood is a simple act of kindness. You can play a vital role in providing blood to save lives.</h2>
      </div>
      <h4>BEFORE DONATING</h4>
      <div class="blurb">
        <p>The day before you donate, drink plenty of liquids</p>
        <p>Eat something at least 3 hours before you donate</p>
        <p>Wear clothing with sleeves that can be rolled up above the elbow</p>
        <p>Bring a form of identification</p>
      </div>
      <h4>DURING THE DONATION</h4>
      <div class="blurb">
        <p>Before donation you will be asked a few questions to determine if you are eligible to donate blood and asked to show your identification.</p>
        <p>Your answers to the interview questions will be private and confidential.</p>
        <p>Your hemoglobin level, temperature, pulse and blood will be checked before donation.</p>
        <p>An area on your arm will be cleaned and a sterile needle will be inserted.</p>
        <p>The blood collection process will last about 10 minutes, until a pint of blood has been collected.</p>
        <p>After donating, you will be asked to rest in the chair for a few minutes during which you can request a drink.</p>
      </div>
      <h4>AFTER DONATING</h4>
      <div class="blurb">
        <p>Continue to drink water throughout the day.</p>
        <p>Try not to over exert yourself for the rest of the day.</p>
      </div>
    </div>
  </div>
</section>