
<section class="sub-header">
  <div class="container">
    <div class="row">
      <div class="sub-text col-md-10 col-md-offset-1">
        <h1>Give Blood</h1>
        <h2>Blood is a vital lifeline to saving and preserving hundreds of lives daily. Less than 2% of the population donates blood.</h2>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row">
    <givenav></givenav>
  </div>
  <div class="row page-content">
    <div class="col-md-10 col-md-offset-1">
      <h2 class="title">DONATION TIPS</h2>
      <div class="introduction">
        <h2>For a safe and successful blood donation, follow these preparations, precautions and recommended tips.</h2>
      </div>
      <h4>BEFORE YOUR DONATION</h4>
      <div class="blurb">
        <p>Get a good night’s rest. </p>
        <p>Drink plenty of water or non-alcoholic beverages before the donation. Drinking water or fruit juices helps keep your blood pressure up.</p>
        <p>Eat a healthy meal 3 hours before your donation. Eating will keep your blood sugar levels stable and ward off possible dizziness after donation.</p>
        <p>Avoid eating fatty foods before your donation. An increase of fat in your blood stream might make testing of your blood difficult.</p>
        <p>Have your identification card with you at the blood donation centre.</p>
      </div>
      <h4>DURING YOUR DONATION</h4>
      <div class="blurb">
        <p>Wear clothing with sleeves that can be raised above the elbow.</p>
        <p>Relax, listen to music, read or talk to other donors. Nervousness can cause your blood pressure to drop and can lead to dizziness.</p>
        <p>Have a juice or snack after the donation. Rest for a few minutes to let your body adjust before continuing your day.</p>
      </div>
      <h4>AFTER YOUR DONATION</h4>
      <div class="blurb">
        <p>Drink plenty of liquids and avoid alcohol over the next 24 hours.</p>
        <p>Eat a high protein meal after your donation.</p>
        <p>Avoid heavy lifting or vigorous exercise for the rest of the day.</p>
        <p>If you experience dizziness after donation, stop what you’re doing and rest or lie down until you feel better.</p>
      </div>
    </div>
  </div>
</section>