section.sub-header
	.container
		.row
			.sub-text.col-md-10.col-md-offset-1
				h1 How It Works
				h2 ...

section.container
	.row.page-content
		.col-md-12
			.row
						.col-md-4
							.works
								h3.title For Blood Requesters
								.st-highlight
									img(src="/assets/images/works/join2.png", alt="Join Red Donor")
									h3 Join Red Donor
									br
									.st-text
										p Simple Sign Up 
										i.fa.fa-chevron-down.fa-5x.rred
								.st-highlight
									img(src="/assets/images/works/create.png", alt="Create a blood drive")
									h3 Create a Blood Drive
									br
									.st-text
										p Make a request for blood
										p Set a donation period 
										i.fa.fa-chevron-down.fa-5x.rred
								.st-highlight
									img(src="/assets/images/works/receive.png", alt="Receive pledges to donate")
									h3 Receive Pledges to Donate
									br
									.st-text
										p Willing Blood Donors Pledge to Donate
										i.fa.fa-chevron-down.fa-5x.rred
								.st-highlight
										img(src="/assets/images/works/pledged.png", alt="Receive confirmation")
										h3 Receive Confirmation
										br
										.st-text
											p Blood Donors confirm donation at local collection centre
						.col-md-4
							.works
								h3.title For Blood Donors
								.st-highlight
									img(src="/assets/images/works/join2.png", alt="Join Red Donor")
									h3 Join Red Donor
									br
									.st-text
										p Simple Sign Up 
										i.fa.fa-chevron-down.fa-5x.rred
								.st-highlight
										img(src="/assets/images/works/find.png", alt="Find Blood Drives")
										h3 Find Blood Drives
										br
										.st-text
											p Locate local persons uregently in need of blood 
											i.fa.fa-chevron-down.fa-5x.rred
								.st-highlight
										img(src="/assets/images/works/pledge.png", alt="Pledge to donate")
										h3 Pledge to Donate
										br
										.st-text
											p Make a pledge to donate blood at your local donation centre
											i.fa.fa-chevron-down.fa-5x.rred
								.st-highlight
										img(src="/assets/images/works/confirm.png", alt="Confirm Donation")
										h3 Confirm Donation
										br
										.st-text
											p Notify the Blood Requester of Your Donation
											i.fa.fa-chevron-down.fa-5x.rred
								.st-highlight
										img(src="/assets/images/works/happy.png", alt="Feel Good")
										h3 Feel Good for Saving A Life
										br
										.st-text
						.col-md-4
							.works
								h3.title For Organisations
								.st-highlight
									h3 Coming Soon
									br
									.st-text