section.sub-header
			.container
				.row
					.sub-text.col-md-10.col-md-offset-1
						h1 Privacy Policy

section.container
	.row.page-content
		.col-md-10.col-md-offset-1
				p This Privacy Policy governs the manner in which Red Donor collects, uses, maintains and discloses information collected from users (each, a "User") of the www.reddonor.com website ("Site"). This privacy policy applies to the Site and all products and services offered by Red Donor.
				h4 Personal identification information
				p We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, subscribe to the newsletter, fill out a form, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.
				h4 Non-personal identification information
				p We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.
				h4 Web browser cookies
				p Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.
				h4 How we use collected information
				p Red Donor may collect and use Users personal information for the following purposes:
				ul
					li To improve customer service
						p Information you provide helps us respond to your customer service requests and support needs more efficiently.
					li To personalize user experience
						p We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.
					li To improve our Site
						p We may use feedback you provide to improve our products and services.
					li To run a promotion, contest, survey or other Site feature
						p To send Users information they agreed to receive about topics we think will be of interest to them.
					li To send periodic emails
				p We may use the email address to respond to their inquiries, questions, and/or other requests. If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email or User may contact us via our Site.
				h4 How we protect your information
				p We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.
				h4 Sharing your personal information
				p We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above. We may use third party service providers to help us operate our business and the Site or administer activities on our behalf, such as sending out newsletters or surveys. We may share your information with these third parties for those limited purposes provided that you have given us your permission.
				h4 Compliance with children's online privacy protection act
				p Protecting the privacy of the very young is especially important. For that reason, we never collect or maintain information at our Site from those we actually know are under 13, and no part of our website is structured to attract anyone under 13.
				h4 Changes to this privacy policy
				p Red Donor has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.
				h4 Your acceptance of these terms
				p By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes. 
